.NavBarContainer {
  width: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
}

.Navbar {
  display: flex;
  gap: 50px;
  margin-left: 3%;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

li a {
  text-decoration: none;
  list-style: none;
  color: gray;
}

.bookslink {
  color: rgb(0, 0, 0);
  opacity: 1;
}

.faUser {
  color: rgb(0, 162, 255);
  margin: 3%;
  margin-left: 57%;
}

h1 {
  color: rgb(0, 162, 255);
}
